#board {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 300px;
    margin: auto;
    margin-top: 50px;
    border: 2px solid #e6e6e6;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    background-color: #f5f5f5;
}

.square {
    width: 100px;
    height: 100px;
    font-size: 5em;
    text-align: center;
    line-height: 100px;
    box-sizing: border-box;
    border: 1px solid #e6e6e6;
    cursor: pointer;
}

.square:hover {
    background-color: #eee;
}

.x {
    color: #495057;
    font-size: 3.5em;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bodini', sans-serif;
}

.o {
    color: #495057;
    font-size: 3.5em;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bodini', sans-serif;
}

h1 {
    text-align: center;
    margin-top: 30px;
    font-size: 3em;
    font-weight: normal;
    color: #333;
}

body {
    background-color: #f5f5f5;
    font-family: 'Open Sans', sans-serif;
}
